# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto

# Explicitly declare text files we want to always be normalized and converted to native line endings on checkout.
# These files are text and should be normalized (Convert crlf => lf)
*.py text
*.sh text
*.md text
*.info text
*.txt text
*.json text
*.yml text

# Denote all files that are truly binary and should not be modified.
# (binary is a macro for -text -diff)
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary

# Make sure Windows batch files preserve CR/LF line endings, otherwise they may not be able to execute. Windows
# batch files require a CR/LF for labels to work properly, otherwise they may fail when labels straddle 512-byte
# block boundaries. This is important when files are downloaded through a zip archive that was authored on a
# Linux machine (the default behavior on GitHub)
*.bat eol=crlf
